<div id="appcontainer">
  <div class="page-header">
    <div class="formcontainer">
      <div class="input-group">
        <input type="text" [(ngModel)]="query" class="form-control" placeholder="{{location}}"
               aria-describedby="basic-addon2"
               (keyup.enter)="loadWeatherData(query)"
               value="{{location}}"
        >
        <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon2"></span>
      </div>
    </div>
    <article id="ui-main" *ngIf="currentWeather">
      <div class="clearfix">
        <section class="weatherinfo col-sm-7">
          <div class="place">
            <div class="date">
              <p>{{currentWeather.day}}, {{currentWeather.date}}</p>
            </div>
          </div>
          <div class="temp_details">
            <p *ngIf="currentWeather.temp_min != currentWeather.temp_max" class="minmax">
              <span class="max_temp">Day {{currentWeather.main.temp_min}} <span class="temp_suffix"></span>C</span> /
              <span class="min_temp">Night {{currentWeather.main.temp_max}} <span class="temp_suffix"></span>C</span>
            </p>
            <h1 class="temp">{{currentWeather.main.temp}}<span class="temp_suffix"></span>C</h1>
            <h4 class="weather">{{currentWeather.weather.description}}</h4>
            <div class="extrainfo">
              <p>Humidity: {{currentWeather.main.humidity}}%</p>
              <p>Wind: {{currentWeather.wind.speed}} m/s {{currentWeather.wind.degree}}</p>
            </div>
          </div>
        </section>
        <section class="ui-icon-container col-sm-5">
          <div class="ui-icon temp">
          </div>
        </section>

      </div>
    </article>

    <div class="errorContainer" *ngIf="hasError">
        <h2 class="error">Could not fetch weather information for the given city!</h2>
    </div>
  </div>

  <div id="intraday" *ngIf="today">
    <table class="table">
      <tbody>
      <tr *ngFor="let item of today.dayWeather">
        <td><h4>{{item.name}}</h4></td>
        <td>
          <h4>
            <span class="weather-icon temp"></span>
            {{item.weather.main.temp}}  <span class="temp_suffix"></span>C
            <small>{{item.weather.main.temp_min}}/{{item.weather.main.temp_max}}</small>
          </h4>
        </td>
        <td>
          <h4>
            <span class="weather-icon humidity"></span>
            {{item.weather.main.humidity}}%
          </h4>
        </td>
        <td>
          <h4>
            <span class="weather-icon wind"></span>
            {{item.weather.wind.speed}} M/S
          </h4>
        </td>
      </tr>

      </tbody>
    </table>

  </div>

  <div id="nextDays">

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Morning</th>
          <th>Noon</th>
          <th>Evening</th>
          <th>Night</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of nextDays">
          <td><h4>{{item.day}}</h4></td>
          <td *ngFor="let subItem of item.dayWeather">
            <strong>{{subItem.weather.weather.description}}</strong><br />
            <p>{{subItem.weather.main.temp}} <span class="temp_suffix"></span>C</p>
            <p *ngIf="subItem.weather.main.temp_max != subItem.weather.main.temp_min">
                <small>{{subItem.weather.main.temp_max}}/{{subItem.weather.main.temp_min}}</small>
              </p>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
