@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700,900');

body{
  background: url('type2x.png') 0 0 repeat;
}

.body{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.page-header {
  border-bottom: 1px solid #eee;
  color: #fff;
  margin: 0;
  padding: 40px 20px;
}

.weather-icon{
  background: url('weather-icons.png') no-repeat;
  display: inline-block;
  height: 25px;
  width: 25px;
  vertical-align: middle;
}
.weather-icon.temp{
  background-position: -4px -2px;
}
.weather-icon.humidity{
  background-position: -5px -100px;
}
.weather-icon.wind{
  background-position: -85px -100px;
}

#appcontainer{
  background: #0277bd; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0277bd , #000004); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0277bd , #000004); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background-color: #fff;*/
  border: 1px solid #222;
  border-radius: 10px;
  box-shadow: 1px -3px 80px #2a2a2a;
  margin: 50px auto;
  width: 500px;
}

#ui-main {
  margin-top: 60px;
}
#ui-main .ui-icon {
  background: url("weather-icons-set-big.png") no-repeat;
  height: 175px;
  width: 190px;
}

#ui-main .ui-icon.temp{
  background-position: -25px -10px;
}

#appcontainer .errorContainer {
  margin: 30px 20px;
  padding: 10px;
  text-align: center;
}
#appcontainer .errorContainer .error{
  font-weight: 300;
  text-shadow: 1px 1px 1px #333;
}
.page-header .ui-icon img {
  height: 100%;
  max-width: 120px;
  width: 100%;
}
.page-header .temp{
  font-size: 50px;
  font-weight: 600;
}
.page-header .temp small{
  color: #eee;
  font-weight: 300;
}
.temp_suffix::before{
  content: '\00b0';
}
.formcontainer .input-group .form-control{
  border-right: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.formcontainer .input-group span{
  background-color: #fff;
  top: 0;
}

.temp_details .minmax{
  color: #cccccc;
}
.weatherinfo .place {
  color: #ffec41;
  font-weight: 900;
}

.extrainfo{
  margin-top:20px;
}
.extrainfo p {
  color: #eee;
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
}


#weatherlist .day{
  border-bottom: 1px solid #eee;
  padding: 5px 0 10px 20px;
}

#intraday, #nextDays{
  margin-top: 20px;
}
.table{
  color: #ffffff;
}
.table h4{
  font-size: 16px;
}
.table tr>td:first-child{
  text-transform: uppercase;
}
#intraday .unit {
  background-color: #f8f8f8;
  border: 1px solid #eee;
  float: left;
  padding: 10px 30px;
  width: 200px;
}
#intraday tr td{
  padding: 20px 10px;
}

.table > tbody > tr > td{
  border-top: 0;
}

 .table tr > td:first-child h4 {
  padding-left: 15px;
}

#nextDays .table>tr>th{
  border: 1px solid #fff;
}
